@media(max-width: 1600px){

}

@media(max-width: 1445px){
    
}
@media(max-width: 1366px){
    
}
@media(max-width: 1199px){
    
}
@media(max-width: 991px){
    .cursor-ring{
        display: none;
    }
    .cursor{
        display: none;
    }
    .chapters-grid {
    grid-template-columns: 1fr 1fr;
}
.form-row {
    grid-template-columns: 1fr 1fr;
}
    
}
@media(max-width: 767px){
    .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}
.book-mockup{
    height: auto;
}
.chapters-grid {
        grid-template-columns: 1fr 1fr;
    }
.hero {
    min-height: 1030px;
}

.gallery-header {
    margin-top: 2rem;
}
    .hero-subtitle {
    margin-bottom: 1.5rem;
}
.hero-subtitle {
    max-width: 100%;
}
}
@media(max-width: 575px){
    .hero-subtitle {
    margin: 0 0 1rem;
}

.hero {
    min-height: 1060px;
}

.hero-content {
    padding: 3rem 0rem 1rem;
}

.hero-cta {
    padding: 1rem;
}
.about {
    padding: 0rem;
}
.book-card {
    flex-direction: column;
    padding: 1rem;
    gap: 28px;
}
.chapters-grid {
        grid-template-columns: 1fr;
    }

.mini-book {
    width: 100%;
}

.reveal.visible {
    margin-bottom: 1rem;
}

.books-section {
    padding: 3rem 1rem;
}

.books-grid {
    gap: 1rem;
}

.book-info
 {
    padding: 0rem;
}

.message-section {
    padding: 3rem 1rem;
    height: a;
}

.chapters-section {
    padding: 3rem 1rem;
}

.contact-section {
    padding: 3rem 1rem;
}

.footer-section {
    padding: 3rem 0;
}
.cursor {
    display: none;
}

#cursorRing {
    display: none;
}
.logo {
    width: 120px;
}

nav {
    padding: 0rem 1rem;
}
.loader-logo {
    width: 200px;
}
.gallery-header {
        margin-top: 0rem;
    }
    .form-row{
        grid-template-columns: 1fr;
    }
        .music-section {
        padding: 7rem 16px 2rem;
    }
}
@media(max-width: 320px){
    
}